/* contact section */
#contact {
    background: #45567d;
    text-align: center;
    color: black;
    padding: 20px;
    opacity: 0.9;
    position: relative;
    top: -40px;
}

#contact a:hover {
    border: 1px;
    border: #be3144;
    transition: 0.5s ease;
}

