/* header */
header {
    position: fixed;
    width: 100%;
}
#navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

#navbar ul li a {
    margin: 0 10px;
    text-decoration: none;
    color: #ddd;
}

#navbar ul li a:hover {
    color: #008C76;
    text-decoration: underline;
    scale: 1.1;
    transition: 0.5s;
}
