/* tech section */
#professional {
    text-align: center;
    background-color: #222;
    position: relative;
    top: 100px;
    color: #ddd;
    height: 100vh;
}

#professional img {
    width: 60%;
    margin: 10px 0;
}

#professional .cert {
    width: 200px;
    height: 200px; 
    border-radius: 40px;
}

#professional .badge {
    width: 200px;
    height: 200px;
}

#professional .tech {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
