/* projects section */
#projects {
    background-color: #45567d;
    width: 100%;
    text-align: center;
    position: relative;
    top: -20px;
}
#projects h2 {
    margin-bottom: 0;
}

.underscore {
    border-bottom: 1px solid #333;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
}

#projects img {
    width: 100%;
    height: 200px
}

.project-tiles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project-tiles .div {
    width: 350px;
    margin: 0 10px;
}


.project-tiles .div:hover > p::after {
    content: " />";
    color: orange;
    transition: 0.9s ease-in-out;
}

.project-tiles .div:hover > p::before {
    content: "< ";
    color: orange;
    transition: 0.9s ease-in-out;
}

.project-tiles a img {
    border-radius: 10px;
}
